<% if (typeof errorMessage != 'undefined') { %> 
    <%= errorMessage %>
<% } %> 

<h2>Display Column of Todays Common Tasks and Errands</h2>
<h3>dayOfWeek</h3>
<table>
    <caption>Today's Schedule</caption>
    <tbody>
        <tr>
            <th>Tuesday</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li> subTask1</li>
                    <li> startTime startPeriod - 
                         finishTime finishPeriod </li>
                </ul>
            </td>
        </tr>
        <% todayTasks.forEach(task => { %> 
         <tr>
            <td>
                <ul>
                    <li> <%= task.subTask1 %></li>
                    <li> <%= task.subTask2 %></li>
                    <li> <%= task.subTask3 %></li>
                    <li> <%= task.startTime %> <%= task.startPeriod %>--
                         <%= task.finishTime%> <%= task.finishPeriod %></li>
                </ul>
            </td>
         </tr>
         <% }) %>

        
    </tbody>
</table>